@media screen and (min-width: 500px) {
    header {
        background-color: black;
        font-style: white;
    }

    main {
        display: grid;
        grid-template-columns: 2fr;
        grid-gap: 1rem;
    }
}