
header {
    background-color: #04724D;
    padding: 10px;
}

header h1 {
    font-family: 'Roboto Condensed', serif;
    margin: auto;
    text-align: center;
}

header img {
    display:block;
    margin-right:auto;
    width: 10%;
}