
.header {
    font-family: 'Roboto Condensed', serif;
    text-align: center;
    background-color: #04724D;
    padding: 10px;
    image-resolution: 200px;
    
}

/*
    height: auto;
    width: 5%;
    position: relative;
}