
header {
    background-color: #c8bfc7;
    padding: 16px;
}

header h1 {
    font-family: 'Roboto Condensed', serif;
    margin-right: 15%;
    float:left;

}

header img {
    display:block;
    margin-left: 15%;
    margin-right:5%;
    max-width: 150px;
    float:left;
}

.clearfix {
    content:"";
    clear:both;
    display:flex;
    justify-content: center;
    align-items: center;
}

nav {
    background-color: #03440C;
    margin: 0 auto;
    max-width: 900px;
}

nav ul {
    list-style-type: none;
}
nav a {
    display: block;
    color: #f7f7ff;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
}

nav a:hover {
background-color: rgba(255,255,255,0.2)

}

nav .active {
    background-color: rgba(0,0,0,0.3);
    color: white;
}